.main-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    margin-bottom: 16px;
}

.main-bottom {
    margin-top: 16px;
}

.left, .right {
    display: flex;
    flex-direction: column;
    gap: 16px;
}