.main-top {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}

.main-middle {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.main-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}